@model FastFoodSystem.WebApp.Models.Data.Staff

@{
    ViewData["Title"] = "Sửa thông tin nhân viên";
    ViewData["Action"] = "Quản lý nhân viên";
    Layout = "~/Views/Shared/_mLayout.cshtml";
}

<form asp-action="Edit" class="content">
    <div class="row">
        <div class="col">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Sửa thông tin nhân viên</h3>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="StaffName" class="control-label"></label>
                        <input asp-for="StaffName" class="form-control" />
                        <span asp-validation-for="StaffName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control" asp-items="ViewBag.Gender"></select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DoB" class="control-label"></label>
                        <input asp-for="DoB" class="form-control"/>
                        <span asp-validation-for="DoB" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PositionId" class="control-label"></label>
                        <select asp-for="PositionId" class="form-control" asp-items="ViewBag.PositionId"></select>
                        <span asp-validation-for="PositionId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            <input type="submit" value="Lưu chỉnh sửa" class="btn btn-success float-right">
        </div>
    </div>
</form>