@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AgentManager.WebApp.Models.ViewModel.SanPhamVM


<h1>Edit product</h1>

<form method="post" asp-action="Edit" asp-controller="Product">
    <input asp-for="maSanPham" type="hidden" class="form-control" />
    <div class="form-group">
        <label>Tên sản phẩm: </label>
        <input asp-for="tenSanPham" class="form-control" />
        <span asp-validation-for="tenSanPham" class="text-danger small"></span>
    </div>

    <div class="form-groupd">
        <label class="col-md-12">Ảnh: </label>
        <input asp-for="anh" class="form-control" />
        <img src="@Model.anh" class="img-fluid" style="max-width:30rem"/>
        <span asp-validation-for="anh" class="text-danger small"></span>
    </div>


    @*<div class="form-groupd">
        <label>Khối lượng: </label>
        <input asp-for="khoiLuong" class="form-control" />
        <span asp-validation-for="khoiLuong" class="text-danger small"></span>
    </div>


    <div class="form-groupd">
        <label>Số lượng tồn kho: </label>
        <input asp-for="soLuongTonKho" class="form-control" />
        <span asp-validation-for="soLuongTonKho" class="text-danger small"></span>
    </div>

    <div class="form-groupd">
        <label>Đơn vị tính: </label>
        <input asp-for="donViTinh" class="form-control" />
        <span asp-validation-for="donViTinh" class="text-danger small"></span>
    </div>*@

    <div class="form-groupd">
        <label>Giá: </label>
        <input asp-for="gia" class="form-control" />
        <span asp-validation-for="gia" class="text-danger small"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Update</button>
</form>
