<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <p style="font-size: 25px; text-align: center;"><b>Fast Food</b></p>
    <p style="font-size: 12px; text-align: center;"><b>Bill #{{IdBill}}</b></p>
    <div style="width: 100%; border-top: 1px solid #000;"></div>
    <p>-------------------------------------------------------------</p>
    <p>Time order: {{DateTime}}</p>
    <p>-------------------------------------------------------------</p>
    <table style="width:100%">
        <tr>
            <td><b>Name</b></td>
            <td><b>Num</b></td>
            <td><b>Price</b></td>
            <td><b>Total</b></td>
        </tr>
        {{StaffInfo}}
    </table>
    <p>-------------------------------------------------------------</p>
    <table style="width:100%">
        <tr>
            <td>Total</td>
            <td>{{Total}}</td>
        </tr>
    </table>
    <p>-------------------------------------------------------------</p>
    <p>Cashier: {{IdStaff}}</p>
    <p>Address: HUFLIT</p>
    <p>Phone number: 0123456789</p>
</body>
</html>