@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quản lý mã khuyến mãi";
    ViewData["Action"] = "Thêm mã khuyến mãi";
    Layout = "~/Views/Shared/_mLayout.cshtml";
}
@model FastFoodSystem.WebApp.Models.Data.FFSVoucher

<form asp-action="Create" class="content">
    <div class="row">
        <div class="col">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Thêm mã khuyến mãi</h3>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FFSVoucherId"></label>
                        <input asp-for="FFSVoucherId" type="text" class="form-control" />
                        <span asp-validation-for="FFSVoucherId" class="text-danger small"></span>
                    </div>
                    <div class="form-group">
                        <label id="num-label">Giới hạn:</label>
                        <input asp-for="Num" type="text" class="form-control" id="Num" />
                        <span asp-validation-for="Num" class="text-danger small"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" type="text" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger small"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger small"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger small"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="State"></label>
                        <label><input type="radio" asp-for="State" value="Phần trăm" checked /> Phần trăm</label>
                        <label><input type="radio" asp-for="State" value="VND" /> VND</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            <input type="submit" value="Tạo mới" class="btn btn-success float-right">
        </div>
    </div>
</form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var stateRadioButton = document.querySelectorAll('input[name="State"]');
        var numInput = document.getElementById("Num");

        stateRadioButton.forEach(function (radio) {
            radio.addEventListener('change', function () {
                var selectedState = document.querySelector('input[name="State"]:checked').value;

                if (selectedState === "VND") {
                    numInput.disabled = true;
                    numInput.value = 0; 
                } else {
                    numInput.disabled = false;
                }
            });
        });
        var selectedState = document.querySelector('input[name="State"]:checked').value;
        if (selectedState === "VND") {
            numInput.disabled = true;
            numInput.value = 0;
        }
    });
</script>
