@model FastFoodSystem.WebApp.Models.Data.Position

@{
    ViewData["Title"] = "Quản lý chức vụ";
    ViewData["Action"] = "Sửa chức vụ";
    Layout = "~/Views/Shared/_mLayout.cshtml";
}
<form asp-action="Edit" class="content">
    <div class="row">
        <div class="col">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Sửa chức vụ</h3>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="PositionId" />
                    <div class="form-group">
                        <label asp-for="PositionName" class="control-label"></label>
                        <input asp-for="PositionName" class="form-control" />
                        <span asp-validation-for="PositionName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            <input type="submit" value="Chỉnh sửa" class="btn btn-success float-right">
        </div>
    </div>
</form>


@*@model AgentManager.WebApp.Models.Data.Position

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_mLayout.cshtml";
}

<h1>Edit</h1>

<h4>Position</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PositionId" />
            <div class="form-group">
                <label asp-for="PositionName" class="control-label"></label>
                <input asp-for="PositionName" class="form-control" />
                <span asp-validation-for="PositionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

@*<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
