@model FastFoodSystem.WebApp.Models.Data.FFSDeliveryRecievedNote

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_mLayout.cshtml";
}

<h1>Create</h1>

<h4>FFSDeliveryRecievedNote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group col-sm" id="Add">
            <div class="btn btn-success">
                +
            </div>
        </div>
    </div>
</div>

<form asp-action="Create" method="post">
    <div id="editorRows" class="container text-center">
        @foreach (var item in Model.FFSShipments)
        {
            <partial name="_AddItem" model="item" />
        }
    </div>
    <a id="addItem" asp-action="NewItem">Add...</a>
    <div class="row">
        <div class="col-12">
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            <input id="submit" type="submit" value="Tạo" class="btn btn-success float-right">
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#submit").click(function (e) {
            e.preventDefault();
            var formData = new FormData();

            $("input[name='FFSIngredientId']").each(function (i) {
                var FFSIngredientId = $(this).val();
                formData.append("FFSShipments[" + i + "].FFSIngredientId", FFSIngredientId);

            });
            $("input[name='Quantity']").each(function (i) {
                var Quantity = $(this).val();
                formData.append("FFSShipments[" + i + "].Quantity", Quantity);

            });

            $.ajax({
                method: 'post',
                url: "Create",
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                }
            });

        });

        $("#addItem").click(function () {
            $.ajax({
                url: this.href,
                cache: false,
                success: function (html) { $("#editorRows").append(html); }
            });
            return false;
        });

        $("#deleteRow").on("click", function () {
            $(this).parents("div#DynamicItem").remove();
            return false;
        });
    </script>
}
