@model AgentManager.WebApp.Models.Data.AgentCategory

@{
    ViewData["Title"] = "Quản lý loại đại lý";
    ViewData["Action"] = "Xóa loại đại lý";
    Layout = "~/Views/Shared/_mLayout.cshtml";
}

<div class="content">
    <form asp-action="Delete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Xóa quyền</h3>
                </div>
                <div class="card-body">
                    <div class="">
                        Xác nhận xóa loại đại lý có nợ tối đa là
                        <b>@Html.DisplayFor(model => model.MaxDebt)</b>
                        <br/>
                        <span asp-validation-for="AgentCategoryId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a asp-action="Index" class="btn btn-sm btn-secondary">Quay lại</a>
            <input type="hidden" asp-for="AgentCategoryId" />
            <input type="submit" value="Xóa" class="btn btn-sm btn-danger" />
        </div>
    </div>
    </form>
</div>