@{
    ViewData["Title"] = "Home Page";
    Layout = "_mlayout";
}
<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 700px;">
    <img src="~/images/logo.png"  />
</div>
